
.imgHotel {
    position:absolute;
    height: 650px;
    width: 100%;
    filter: brightness(74%);
}

.titlePres {
    position: absolute;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 70px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 50%;
    top: 200px;
}
.text {
    position: absolute;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    top: 320px;
}

/* Chambre simple */

.principal {
    
}

.roomsSimple {
    position: relative;
    height: 500px;
    top: 300px;
}