body{
    margin: 0;
    width: 100%;
}
nav{
    position: fixed;
}
#logo_cactus{
    width: 50px;
}
header{
    top: 0;
    height: 510px;
    background-color: #082B26;
    position: relative;
}
main{
    top: 0;
    margin: 0;
    height: 292vh;
    background-color: #E7E6E2;
}
p{
    margin: 0;
}
header h1{
    margin: 0;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size:60px;
    display: flex;
    align-items: center;
    height: 100%;
}
#barre_horizontal{
    border: none;
    width: 100%;
    position: absolute;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 35px;
}

/*    Slide des images du main :    */

img{
    max-width: 100%;
}

.slider-container{
    width: 700px;
    position: relative;
    margin: auto;
    height: 500px;
    overflow: hidden;
}
.menu{
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus{
    background: #082B26;
}
.slide-input{
    opacity: 0;
}
.slide-img{
    width: 800px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img{
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/* box texte + image */
#titre-theme{
    margin: 0;
    text-align: center;
    padding-top: 50px;
}
.box-pair{
    display: flex;
    padding-top: 80px;
    padding-right: 100px;
    position: relative;
    height: 500px;
}
article p{
    padding: 100px;
    text-align: justify;
    max-width: 500px;
    font-size: 18px;
}

#barre_horizontal2{
    margin-top: 30px;
    border: none;
    width: 80%;
    height: 1px;
    background: #0d462bb8;
}
.box-impair{
    display: flex;
    padding-top: 80px;
    padding-left: 100px;
    position: relative;
    height: 500px;
}

#Detext{
    padding-top: 60px;
}

.button-reserve{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.button-reserve a{
    font-size: 30px;
    text-decoration: none;
    color: #0b4d44;
    border: 0px black solid;
    border-radius: 8px;
    position: relative;
    top: 20px;
    padding: 5px;
    transition: 0.2s ease-in;
}
.button-reserve a:hover{
    background-color:#e7e6e27d;
    color:#052722;
}

