body{
    background-color: #E7E6E2;
}
header{
    top: 0;
    height: 510px;
    background-color: #082B26;
    position: relative;
}
header h1{
    margin: 0;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size:60px;
    display: flex;
    align-items: center;
    height: 100%;
}
#barre_horizontal{
    border: none;
    width: 100%;
    position: absolute;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 35px;
}
main{
    top: 0;
    margin: 0;
    height: 1350px;
    background-color: #E7E6E2;
    text-align: center;
}

form{
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: black;
    margin: 5% 10% 25% 15%;
    padding: 20px;
}

.choix{
    border-radius: 10px;
    height: 130px;
    width: 50%;
    text-align: center;
    background-color:  #0b4d44 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
.coordonées{
    border-radius: 10px;
    height: 168px;
    width: 50%;
    text-align: center;
    background-color:  #0b4d44 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.paiement{
    border-radius: 10px;
    height: 100px;
    width: 50%;
    text-align: center;
    background-color:  #0b4d44 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.option, .room{
    width: 40%;
    height: 80%;
    position: relative;
    text-align: left;
    display: inline-block;
    border: solid black 1px;
    background-color: #eeeeee;
    background-size: 50%;
    background-image: url("point.png");
    border-radius: 5px;
}
.bouquets{
    margin-left: 30px;
    height: 80%;
}

.coordonées{
    display: block;
    text-align: left;
    margin-top: 0;
}
#coorINPUT1{
    margin-left:50px;
}
#coorINPUT2{
    margin-left:15px;
}
#coorINPUT3{
    margin-left:29px;
}
#coorINPUT4{
    margin-left:59px;
}

.paiement{
    text-align: left;
}

.cb{
    display: flex;
    border: none;
}
#cb-input{
    margin-left: 5px
}
#labelPaye{
    margin-top: 0;
    border: none;
}
.numCB{
    margin-left: 50px;
}
#button-submit{
    padding: 15px 35px 15px 35px;
    background-color:#0b4d44;
    transition: 0.3s;
    font-size: 18px;
    
    border-radius: 25px;
}
#button-submit:hover{
    color: white;
    background-color: #BAA382;
}

form{
   text-align: center;
}

.button:hover{
    color:#0b4d44;
}

button{
    color: #eeeeee;
}