
.imgHotel {
    position:absolute;
    height: 650px;
    width: 2000px;
    filter: brightness(74%);
}

.titlePres {
    position: absolute;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 70px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 650px;
    top: 200px;
}
.text {
    position: absolute;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 650px;
    top: 320px;
}