body, html{
    margin: 0;
    width: 100%;
    background-color: #E7E6E2;

}
nav{
    position: fixed;
}
#logo_cactus{
    width: 50px;
}
header{
    top: 0;
    height: 510px;
    background-color: #082B26;
    position: relative;
}
main{
    top: 0;
    margin: 0;
    height: 1900px;
    background-color: #E7E6E2;
}
p{
    margin: 0;
}
header h1{
    margin: 0;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size:60px;
    display: flex;
    align-items: center;
    height: 100%;
}
#barre_horizontal{
    border: none;
    width: 100%;
    position: absolute;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 35px;
}

/* box texte + image */
#titre-theme{
    margin: 0;
    text-align: center;
    padding-top: 50px;
}
.box-pair{
    display: flex;
    padding-top: 80px;
    padding-left: 100px;
    position: relative;
    height: 500px;
}
article p{
    padding: 150px 100px 0px 100px;
    text-align: justify;
    max-width: 500px;
    font-size: 20px;
}

#barre_horizontal2{
    margin-top: 30px;
    border: none;
    width: 80%;
    height: 1px;
    background: #0d462bb8;
}
.box-impair{
    display: flex;
    padding-top: 80px;
    padding-left: 100px;
    position: relative;
    height: 500px;
}

#Detext{
    padding-top: 60px;
}

#Tetext{
padding-top: 60px;
}

.button-reserve{
    width: 100%;
    text-align: center;
}
.button-reserve a{
    background-color: #BAA382;
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 2px rgb(92, 63, 21) solid;
    font-size: 30px;
}
.button-reserve a:hover{
   background-color: #0b4d44;
    color: white ;
    border: 1px #0b4d44 solid;
}
#button-book-now{
    background-color: #BAA382;
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 2px rgb(92, 63, 21) solid;
}
#button-book-now:hover{
    background-color: #0b4d44;
    color: white ;
    border: 1px #0b4d44 solid;

}
article ul{
    margin-left: 30%;
    font-size: 20px;
}

