body{
    margin: 0;
    width: 100%;
}
nav{
    position: fixed;
}
#logo_cactus{
    width: 50px;
}
header{
    height: 500px;
    background-color: #082B26;
}
main{
    height: 100%;
    background-color: #E7E6E2;
}