@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Lora', serif;
    margin: 0;
}

main{
    top: 0;
    margin: 0;
    height: 80vh;
    background-color: #E7E6E2;
}

.title {
    text-align: center;
}

.navBarre{
    text-align: center;
    background-color: #fff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.navBarre a {
    text-decoration: none;
    font-size: 20px;
    position: relative;
    color: black;
    border: none;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.navBarre a:hover {
    background-color: #e7e6e27a;
    color: #BAA382;
}

#logoImg  {
    height: 45px;
    position: relative;
}

/*-----------------footer----------------------*/

footer{
    background-color:#BAA382 ;
    color: #0b4d44;
    height: 20%;
    text-align: center;
}
footer img{
    width: 100px;
}

.conteneurlogo{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.logo{
    padding: 10px;
    width: 50px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: 0.2s;
}
.logo:hover{
    background-color:#E7E6E2;
    border-radius: 10px;
}
.conteneurfooter{
    margin-left: 100px;
    display: flex;
    justify-content:space-between;
    margin-right: 100px;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.contact a{
    text-decoration: none;
    color: #0b4d44;
    border: 0px black solid;
    border-radius: 8px;
    position: relative;
    top: 20px;
    padding: 5px;
    transition: 0.2s ease-in;
}
.contact{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact a:hover{
    background-color:#e7e6e27d;
    color:#052722;

}
.adresse{
    font-size: 20px;
}
#copyright{
    position: relative;

}
#terms a{
    position: relative;
    top: 40px;
    text-decoration: none;
    color: #0b4d44;
    margin-right: 10px;
}

#logo-footer{
    position: relative;
    margin-right: 173px;
}
#partner{
    position: relative;
    display: flex;
    align-items: center;
}