
body{
    margin: 0;
    width: 100%;
}
nav{
    position: fixed;
}
#logo_cactus{
    width: 50px;
}
header{
    top: 0;
    height: 510px;
    background-color: #082B26;
    position: relative;
}
main{
    top: 0;
    margin: 0;
    height: 100%;
    background-color: #E7E6E2;
}
p{
    margin: 0;
}
header h1{
    margin: 0;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size:60px;
    display: flex;
    align-items: center;
    height: 100%;
}
#barre_horizontal{
    border: none;
    width: 100%;
    position: absolute;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 35px;
}
footer{
    background-color:#BAA382 ;



}
footer img{
    width: 100px;
}